
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.custom-text{
    font-family: Cinzel;
}

 .sText{
        font-family: Cinzel;
        letter-spacing: 6.1px;
    }

