@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.text{
    font-family: Cinzel;
}

 .custom-swiper .swiper-pagination {
    position: relative !important;
    margin-top: 32px;
    bottom: 0 !important;
    text-align: center;
  }

  .mySwiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #d1cfcb; 
  opacity: 0.5;
}

/* medium device*/
@media (max-width: 768px) {
  .mySwiper .swiper-pagination-bullet {
    margin-top: 24px;
    width: 10px;
    height: 10px;
    background-color: #b0aea9;
  }
}

/* Very small devices (up to 480px) */
@media (max-width: 480px) {
  .mySwiper .swiper-pagination-bullet {
    position: absolute;
    bottom: 10px;
    width: 6px;
    height: 6px;
    background-color: #999;
    display: flex;
    justify-content: center;
  }
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #007AFF;
}

.category-text {
color: #FFF;
color: white;
text-shadow: 2px 2px 4px #000000; /* কালো ছায়া */
letter-spacing: 2px;
}


