@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.sText{
    font-family: Cinzel;
    letter-spacing: 9.12px;
}
.custom-text{
    font-family: Cinzel;
}
@media (max-width:1080px) {
    .sText{
        font-family: Cinzel;
        letter-spacing: 7px;
    }
}
@media (max-width:480px) {
    .sText{
    font-family: Cinzel;
    letter-spacing: 5px;
}
}
.height{
    height: 130px !important;
}
@media (max-width:1080) {
    .height{
    height: 110px !important;
}
}
@media (max-width:480) {
    .height{
    height: 50px !important;
}
}